#### **Defining a Function**

A function is a reusable block of code or programming statements designed to perform a certain task. to define or declare a function, Python provides the def keyword. The following is the syntax for defining a function. The function block of code is executed only if the function is called or invoked,

#### **Calling a Function**

In [ ]:
def function_name():
    Code
    Code
    Code
function_name()

In [1]:
def fulname():
    sur=str(input("enter surname"))
    last=str(input("enter last name"))
    name= sur + " " + last
    return name

In [2]:
fulname()

'muhammad  waseem'

##### **Function without Parameters**

In [3]:
def nam_fun():
    surname='Muhammad'
    lastname="Ali"
    space=''
    full_name=space.join([surname,lastname])
    print(full_name)

In [4]:
def fulname_fun():
    surname="Muhammad"
    lastname="Waseem"
    space=" "
    full_name=surname+space+lastname
    print(full_name)

In [5]:
fulname_fun()

Muhammad Waseem

In [6]:
print(fulname_fun())

Muhammad Waseem
None

In [7]:
def addition():
    num1=10
    num2=20
    sum=num1+num2
    print(sum)
addition()

30

##### **Function Returning a Value**

In [8]:
def fulname_fun():
    surname = input("Enter your surname: ")
    name = input("Enter your name: ")
    space = " "
    full_name = surname + space + name
    return full_name
fulname_fun()

'Muhammad Waseem'

In [9]:
def subtraction():
    num1=20
    num2=10
    sub=num1-num2
    return sub
subtraction()

10

In [10]:
def addition_fun():
    num1=int(input("Enter first number: "))
    num2=int(input("Enter second number: "))
    sum=num1+num2
    return sum

In [11]:
print(addition_fun())

166

##### **Function with parameter**

In [12]:
def add_100(num):
    hundred=100
    sum=num+hundred
    return sum

In [13]:
print(add_100(50))

150

In [14]:
def square_fun(x):
    square=x*x
    return square

In [15]:
square_fun(5)

25

In [16]:
# Area of Circle
def area_of_circle(radius):
    pi=3.14
    area=pi*radius*radius
    return area

In [18]:
area_of_circle(5)

78.5

In [19]:
def sum_of_numbers(n):
    sum=0
    for i in range(1,n+1):
        sum+=i
    return sum

In [20]:
sum_of_numbers(90)

4095